<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Examples</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <aa class="abc" v-model="test"></aa>
        {{'外面的值：' + test}}
        <button @click="fn">
            外面改变里面
        </button>
    </div>
    <script>
    var aa = Vue.extend({
        template: `<div>
				    <ul>
				      <li>{{'里面的值：'+ msg}}</li>
				      <button @click="fn2">里面改变外面</button>
				    </ul>
				  </div>`,

        props: {
	      value: { // 必须要使用value
	　　　　　default: '',
	　　　　},
	    },

	    methods: {
	      fn2 () {
	        this.$emit('input', this.value+2) // 这儿必须用input 发送数据，发送的数据会被父级v-model=“test”接受到，再被value=test传回来。
	      }
	    }
    })
    new Vue({
        el: '#app',
        data() {
            return {
                test: '232'
            }
        },
        components: {
            aa
        }
    })
    </script>
</body>

</html>
